# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
    * Data Science Languages
    * Data Science Libraries
    * Data Science Tools
    * Arithmetic Expressions In Python

### Data Science Languages
    - Python
    - R
    - Julia

### Data Science Libraries
    - NumPy
    - Pandas
    - PyTorch

### Data Science Tools
    - Jupyter Notebook
    - RStudio
    - Tableau

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours, 'hours')

3.3333333333333335 hours

## Author: 
     Hossein