<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Ex2: My NoteBook

Ex3: Introduction:
    This is my Jupyter NoteBook for the peer-graded Assignment

 Ex4: list data science languages:
        - Python
        - R
        - SQL
        - Julia

Ex5: data science libraries: 
    - numPY
    - Pandas
    - Matplotlib
    - Seaborn

Ex6: Data Science tools:
        - Jupyter Notebook
        - RStudio
        - Python
        - Anaconda

Ex7: arithmetic expression example:

In [5]:
(20+4)-1

23

Ex8: multiply and add numbers

In [4]:
(5*4)+10

30

Ex9: Create a code cell to convert minutes to hours

In [8]:
minutes = 297
hours = minutes / 60
print(hours, "Hours")

4.95 Hours

Ex10: objectives:
        - learn data analytics
        - improve data analytics skills

Ex11: Name: Hossein

In [ ]:
Ex12: Share your notebook through GitHub
Ex13:  Take a screenshot of the first page of the notebook.